<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.auribises.activitydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sunny"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".ViewsActivity" />
        <activity android:name=".NewsListActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".ConfigurationActivity">

            <!-- android:configChanges="orientation|screenSize|keyboard"> -->
            <!-- android:screenOrientation="portrait"> -->

        </activity>
        <activity android:name=".AllSongsActivity" />
        <activity android:name=".PlaySongActivity" />

        <service
            android:name=".MyMusicService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".MyMusicReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="a.b.c.d" />
                <action android:name="action.kuch.bhi.ho.sakta.hai" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
            </intent-filter>
        </receiver>

        <activity android:name=".MyFragmentsActivity"></activity>
        <activity android:name=".MyLocationActivity" />
        <activity android:name=".MySensorActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity"></activity>
    </application>

</manifest>